h1{
    color: royalblue;
}

.row .col-md-6 p{
    font-size: 25px;
}

.container .row .col-md-6 p{
    text-align: justify;
    font-size: 20px;
}

.col-md-6 img{
    margin-top:10px;
}

.btn-primary{
    background-color: royalblue;
    border: 1px solid royalblue;
}

.btn-primary:hover{
    background-color: white !important;
    color: royalblue;
    border: 1px solid royalblue;
}

.btn-primary:visited{
    background-color: royalblue;
    border: 1px solid royalblue;
}

a.btn.btn-primary.-lg{
    margin-top: 10px;
}

